.main {
  form {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    input {
      width: 50%;
      border: 0px;
      box-shadow: 0px 0px 5px 0px rgb(155, 155, 155);
      padding: 10px;
      border-radius: 6px;
      outline: 0;
      &:focus {
        box-shadow: 0px 0px 5px 0px rgb(59, 115, 153);
        transition: all 0.3s;
      }
    }
    button {
      width: 40%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid rgb(155, 155, 155);
      outline: 0;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
