.FriendListContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(187, 187, 187, 0.4);
}

.FriendList {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 10px;
  width: 100%;
  overflow-y: hidden;
}

.prevFriendList {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: none;
  position: absolute;
  z-index: 10;
  left: 1%;
  top: 28%;
  border: 1px solid gray;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.nextFriendList {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 10;
  right: 1%;
  top: 28%;
  border: 1px solid gray;
  outline: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.prevFriendList:hover {
  opacity: 100;
  transition: opacity 0.2s;
  font-weight: bold;
}

.nextFriendList:hover {
  opacity: 100;
  transition: opacity 0.2s;
  font-weight: bold;
}

@media screen and (min-width: 1000px) {
  .FriendList {
    overflow-x: hidden;
  }
}
