.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style-type: none;
  padding: 0;
}

.extract-btn {
  padding: 1em;
  border-radius: 0.5em;
  border: 0;
  background-color: rgb(247, 109, 45);
  color: white;
  cursor: pointer;
}
